.a{
    background-color:#b6d4fe;
    height:30vh;
}
.b{
    background-color: #0f5132;
    height:30vh;
}
.c{
    background-color: #0a58ca;
    height:30vh;
}
.d{
    background-color: #0dcaf0;
    height: 30vh;
}
.e{
    background-color: #6f42c1;
    height: 30vh;

}
.img-one{
    width:100%;
    height: 30vh;
}
.img-two{
    width:100%;
    height: 30vh;
}
.img-three{
    width: 100%;
    height: 30vh;
}
.carousel-inner img{
    width:100%;
    height:70vh;
}

.bio img{
    height: 50vh;

}
.navy a{
    text-decoration: none;
}

